.insight-vote-panel {
  overflow: auto;
  width: ($app-width*2) + 50px;
  font-size: 12px;

  .popular-vote, .vote-panel {
    float: left;
    width: $app-width - 40px;
    height: 28px;
    margin: 2px 0;
  }

  .popular-vote {
    -webkit-transition: margin-left .2s, -webkit-box-shadow .3s, $ease-in-out-quint;
    -webkit-box-shadow: none;
    border-radius: 2px;
    margin-right: 40px;
    margin-left: 5px;
    border: 2px solid black;
    color: black;
    padding: 4px;
    padding-top: 5px;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);

    .choice-label {
      text-transform: capitalize;
    }

    .count {
      //-webkit-clip-path: circle(45% at 50% 50%);
      text-align: center;
      min-width: 22px;
      //height: 22px;
      background-color: $cr-space-grey;
      color: white;
      padding: 2px 7px;
      border-radius: 2px;
      margin-right: -2px;
    }


    &.move-over {
      margin-left: -($app-width - 5);
    }

    &:hover{
      -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.72);
    }
  }

  .vote-panel{

    .button-side, .vote-side {align-self: center;}

    .vote-side {width: 95%; float:right; height: 100%;}

    .button-side{
      float: left;
      margin-top: 4px;
    }

    .vote-side .vote-btn-group, .vote-side .vote-btn-group .vote-btn{
      height: 100%;
      box-sizing: border-box;
    }

    .vote-side .vote-btn-group .vote-btn{
      line-height: normal;
      padding:0;
    }

    .button-side .vote-panel-back-button{
      background-image: url('../assets/arrow.png');
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-color: transparent;
      height: 10px;
      width: 10px;

    }

    .vote-btn-group {

      .vote-btn {
        border: 2px solid black;
        border-right: none;
        border-radius: 0;
        font-size: 11px;
        position: relative;
        cursor: pointer;

        &:first-child, &:last-child{
          border-radius: 0;
        }

        &:first-child{
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          border-left: 2px solid black;
          border-right: none;
        }

        &:last-child{
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          border-right: 2px solid black;
          border-left: 2px solid black;
        }

        .vote-btn-container{
          @include display(flex);
          @include justify-content(center);
          @include align-items(center);

          .vote-revoke-btn{
            -webkit-clip-path: circle(39% at 50% 50%);
            //background-color: #ff4d48;
            padding-top: 2px;
            font-size: 8px;
            color: #ff4d48;
            height: 20px;
            width: 20px;
            @include align-self(center);
            font-family: MuseoSans-700, sans-serif;
            margin-left: 2px;

            &:active {
              color: #c13f3a;
            }

            &:hover {
              color: #c13f3a;
            }
          }


        }

      }
    }

  }
}