/* app css stylesheet */
@font-face {
  font-family: MuseoSans-900, sans-serif;
  src: url("fonts/MuseoSans-900.otf"); }
@font-face {
  font-family: MuseoSans-700, sans-serif;
  src: url("fonts/MuseoSans-700.otf"); }
@font-face {
  font-family: MuseoSans-900Italic, sans-serif;
  src: url("fonts/MuseoSans-900Italic.otf"); }
@font-face {
  font-family: MuseoSans-300, sans-serif;
  src: url("fonts/MuseoSans-300.otf"); }
@font-face {
  font-family: MuseoSlab-500Italic, serif;
  src: url("fonts/MuseoSlab-500Italic.otf"); }
@font-face {
  font-family: MuseoSlab-100Italic, serif;
  src: url("fonts/MuseoSlab-100Italic.otf"); }
#article {
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

#article.ng-hide-add {
  margin-top: auto;
  opacity: 1; }

#article.ng-hide-remove {
  margin-top: 5px;
  opacity: 0; }

/********************/
[ui-view='overhead'] {
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

[ui-view='overhead'].ng-enter, [ui-view='overhead'].ng-leave.ng-leave-active {
  height: auto;
  max-height: 0; }

[ui-view='overhead'].ng-enter.ng-enter-active, [ui-view='overhead'].ng-leave {
  max-height: 200px; }

/******************/
[ui-view='questions_inline'] {
  max-height: 0;
  overflow: hidden; }

#article_view {
  background-color: white;
  padding: 15px; }

.article-info {
  font-family: MuseoSans-700, sans-serif;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-color: #494949;
  padding: 15px;
  z-index: 1000;
  -webkit-box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.75); }
  .article-info .author {
    font-family: MuseoSlab-500Italic, serif; }
  .article-info #publisher {
    margin-top: 6px;
    display: inline-block;
    padding: 4px 8px;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    font-family: MuseoSans-700, sans-serif;
    font-size: 11px; }

.insights {
  margin-top: 99px;
  margin-bottom: 25px; }

.questions #questionSettingsPanel {
  text-align: center; }
  .questions #questionSettingsPanel .filterSwitchLabel {
    margin-right: 10px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .questions #questionSettingsPanel .filterSwitch {
    display: none; }
    .questions #questionSettingsPanel .filterSwitch:checked + .filterSwitchLabel {
      font-family: MuseoSans-700, sans-serif; }
.questions #questionForm {
  border: 2px solid black;
  margin-top: 4px;
  margin-bottom: 9px;
  border-radius: 2px; }
  .questions #questionForm textarea {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-family: MuseoSlab-500Italic, sans-serif;
    font-size: inherit;
    resize: none;
    border-radius: 0; }
    .questions #questionForm textarea:focus {
      outline: none;
      box-shadow: none; }
  .questions #questionForm #questionSubmitPanel {
    text-align: center; }
    .questions #questionForm #questionSubmitPanel #questionSubmit {
      border: none;
      color: black;
      background-color: initial;
      font-family: MuseoSans-700, sans-serif;
      font-size: 11px;
      border-radius: 2px;
      padding: 6px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
      .questions #questionForm #questionSubmitPanel #questionSubmit:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
.questions .question-list {
  padding: 0 6px;
  font-size: 12px;
  list-style: none; }
  .questions .question-list #more-questions-button {
    font-family: MuseoSans-700, sans-serif;
    border: 2px solid black;
    border-radius: 2px;
    width: 100%; }
    .questions .question-list #more-questions-button.disabled {
      display: none; }
  .questions .question-list .pager .previous a, .questions .question-list .pager .next a {
    border: 2px solid black;
    border-radius: 2px; }
  .questions .question-list .pager .previous.disabled, .questions .question-list .pager .next.disabled {
    display: none; }

#article_404_view {
  background-color: #494949; }

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
    margin-top: 100px; } }
@-moz-keyframes fadeIn {
  to {
    opacity: 1;
    margin-top: 100px; } }
@keyframes fadeIn {
  to {
    opacity: 1;
    margin-top: 100px; } }
#container {
  width: 180px;
  margin: auto;
  padding: 0 10px;
  margin-top: 170px;
  opacity: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-animation: fadeIn 0.2s 0.2s forwards;
  -moz-animation: fadeIn 0.2s 0.2s forwards;
  animation: fadeIn 0.2s 0.2s forwards; }
  #container #logo {
    width: 60px;
    height: auto;
    display: block;
    margin-bottom: 15px; }
  #container #message {
    color: white;
    line-height: 1.3em;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px; }
  #container #thankyou {
    font-weight: bold;
    color: white; }
  #container #suggestionText {
    resize: none;
    width: 100%;
    height: 90px;
    padding: 5px;
    margin-bottom: 15px; }
    #container #suggestionText::-webkit-input-placeholder {
      color: black;
      opacity: .4; }
    #container #suggestionText::-moz-placeholder {
      color: black;
      opacity: .4; }
    #container #suggestionText:-moz-placeholder {
      color: black;
      opacity: .4; }
    #container #suggestionText:-ms-input-placeholder {
      color: black;
      opacity: .4; }
  #container .action-btn {
    width: 150px; }
    #container .action-btn:not(:last-of-type) {
      margin-bottom: 5px; }

.question {
  overflow: auto;
  position: relative;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 2px solid black;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: white; }
  .question .question-control {
    padding-top: 5px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .question .question-control .cr-btn-group .cr-btn {
      border-radius: 0;
      border-bottom: none;
      padding: 6px 0; }
      .question .question-control .cr-btn-group .cr-btn:hover {
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.6); }
      .question .question-control .cr-btn-group .cr-btn.active {
        background-color: #494949;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
        color: white; }
      .question .question-control .cr-btn-group .cr-btn:first-child {
        border-left: none; }
      .question .question-control .cr-btn-group .cr-btn:last-child {
        border-right: none; }
    .question .question-control .delete-button {
      color: red; }
  .question .question-title {
    padding: 8px; }
  .question:hover .question-control {
    opacity: 1; }
  .question .answered-tag {
    padding: 3px 10px;
    margin: 3px;
    color: white;
    background-color: #00b233;
    border-radius: 2px; }

.insight-vote-panel {
  overflow: auto;
  width: 650px;
  font-size: 12px; }
  .insight-vote-panel .popular-vote, .insight-vote-panel .vote-panel {
    float: left;
    width: 260px;
    height: 28px;
    margin: 2px 0; }
  .insight-vote-panel .popular-vote {
    -webkit-transition: margin-left 0.2s, -webkit-box-shadow 0.3s, cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-box-shadow: none;
    border-radius: 2px;
    margin-right: 40px;
    margin-left: 5px;
    border: 2px solid black;
    color: black;
    padding: 4px;
    padding-top: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    .insight-vote-panel .popular-vote .choice-label {
      text-transform: capitalize; }
    .insight-vote-panel .popular-vote .count {
      text-align: center;
      min-width: 22px;
      background-color: #494949;
      color: white;
      padding: 2px 7px;
      border-radius: 2px; }
    .insight-vote-panel .popular-vote.move-over {
      margin-left: -295px; }
    .insight-vote-panel .popular-vote:hover {
      -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.72); }
  .insight-vote-panel .vote-panel .button-side, .insight-vote-panel .vote-panel .vote-side {
    align-self: center; }
  .insight-vote-panel .vote-panel .vote-side {
    width: 95%;
    float: right;
    height: 100%; }
  .insight-vote-panel .vote-panel .button-side {
    float: left;
    margin-top: 4px; }
  .insight-vote-panel .vote-panel .vote-side .vote-btn-group, .insight-vote-panel .vote-panel .vote-side .vote-btn-group .vote-btn {
    height: 100%;
    box-sizing: border-box; }
  .insight-vote-panel .vote-panel .vote-side .vote-btn-group .vote-btn {
    line-height: normal;
    padding: 0; }
  .insight-vote-panel .vote-panel .button-side .vote-panel-back-button {
    background-image: url("../assets/arrow.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 10px;
    width: 10px; }
  .insight-vote-panel .vote-panel .vote-btn-group .vote-btn {
    border: 2px solid black;
    border-right: none;
    border-radius: 0;
    font-size: 11px;
    position: relative;
    cursor: pointer; }
    .insight-vote-panel .vote-panel .vote-btn-group .vote-btn:first-child, .insight-vote-panel .vote-panel .vote-btn-group .vote-btn:last-child {
      border-radius: 0; }
    .insight-vote-panel .vote-panel .vote-btn-group .vote-btn:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      border-left: 2px solid black;
      border-right: none; }
    .insight-vote-panel .vote-panel .vote-btn-group .vote-btn:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-right: 2px solid black;
      border-left: 2px solid black; }
    .insight-vote-panel .vote-panel .vote-btn-group .vote-btn .vote-btn-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
      .insight-vote-panel .vote-panel .vote-btn-group .vote-btn .vote-btn-container .vote-revoke-btn {
        -webkit-clip-path: circle(39% at 50% 50%);
        background-color: #ff4d48;
        padding-top: 5px;
        font-size: 8px;
        color: white;
        height: 20px;
        width: 20px;
        -webkit-align-self: center;
        -moz-align-self: center;
        align-self: center;
        -ms-flex-item-align: center;
        font-family: MuseoSans-700, sans-serif;
        margin-left: 2px; }
        .insight-vote-panel .vote-panel .vote-btn-group .vote-btn .vote-btn-container .vote-revoke-btn:active {
          background-color: #c13f3a; }
        .insight-vote-panel .vote-panel .vote-btn-group .vote-btn .vote-btn-container .vote-revoke-btn:hover {
          background-color: #c13f3a; }

* {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

html, body, #app_view, .view_container {
  width: 300px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: MuseoSans-300, sans-serif;
  font-size: 11px; }

.view_container {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

body {
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

::-webkit-scrollbar {
  display: none; }

.section-header {
  background-image: url("../assets/section-header-bg.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .section-header span {
    font-family: MuseoSans-900, sans-serif;
    font-size: 13px;
    line-height: 13px;
    background-color: white;
    padding: 0 6px;
    margin: auto; }

button.cr-btn {
  border: none;
  vertical-align: middle;
  background: none;
  cursor: pointer; }
  button.cr-btn:focus, button.cr-btn:active {
    outline: none;
    -webkit-box-shadow: none; }

.cr-btn-group .cr-btn {
  border: 2px solid black;
  border-right: none;
  border-radius: 0;
  font-size: 11px;
  position: relative;
  cursor: pointer; }
  .cr-btn-group .cr-btn:first-child, .cr-btn-group .cr-btn:last-child {
    border-radius: 0; }
  .cr-btn-group .cr-btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 2px solid black;
    border-right: none; }
  .cr-btn-group .cr-btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 2px solid black;
    border-left: 2px solid black; }

/*# sourceMappingURL=app.css.map */
