/* app css stylesheet */
@import "base/bourbon/bourbon";
@import "styleguide";
@import "view_transitions";

//views
@import "../views/article_view/article_view";


//directives
@import "../directives/question/question";
@import "../directives/insight/insight";


*{
  cursor: default;
  @include user-select(none);
  box-sizing: border-box;
}

$app-width: 300px;

html, body {
  width: $app-width;
  height: 600px;
  margin: 0;
  padding:0;
  overflow-x: hidden;

  font-family: MuseoSans-300, sans-serif;
  font-size: 11px;

}

body{
  position: relative;
  padding: 15px;
  -webkit-transition:all .2s $ease-in-out-quad;
}

::-webkit-scrollbar {
  display: none;
}