/* app css stylesheet */
@import "base/bourbon/bourbon";
@import "styleguide";
@import "view_transitions";

//views
@import "../views/article_view/article_view";
@import "../views/article_404_view/article_404";

//directives
@import "../directives/question/question";
@import "../directives/insight/insight";


*{
  cursor: default;
  @include user-select(none);
  box-sizing: border-box;
}

html, body, #app_view, .view_container{
  width: $app-width;
  height: 600px;
  margin: 0;
  padding:0;
  overflow-x: hidden;

  font-family: MuseoSans-300, sans-serif;
  font-size: 11px;
}


body{
  position: relative;
  -webkit-transition:all .2s $ease-in-out-quad;
}

::-webkit-scrollbar {
  display: none;
}