$cr-green: #00b233;
$cr-deep-blue: #2e0a75;
$cr-space-grey: #494949;
$app-width: 300px;

@font-face {
  font-family: MuseoSans-900, sans-serif;
  src: url("fonts/MuseoSans-900.otf");
}

@font-face {
  font-family: MuseoSans-700, sans-serif;
  src: url("fonts/MuseoSans-700.otf");
}

@font-face {
  font-family: MuseoSans-900Italic, sans-serif;
  src: url("fonts/MuseoSans-900Italic.otf");
}

@font-face {
  font-family: MuseoSans-300, sans-serif;
  src: url("fonts/MuseoSans-300.otf");
}

@font-face {
  font-family: MuseoSlab-500Italic, serif;
  src: url("fonts/MuseoSlab-500Italic.otf");
}

@font-face {
  font-family: MuseoSlab-100Italic, serif;
  src: url("fonts/MuseoSlab-100Italic.otf");
}



