@font-face {
  font-family: MuseoSans-900, sans-serif;
  src: url("fonts/MuseoSans-900.otf");
}

@font-face {
  font-family: MuseoSans-700, sans-serif;
  src: url("fonts/MuseoSans-700.otf");
}

@font-face {
  font-family: MuseoSans-900Italic, sans-serif;
  src: url("fonts/MuseoSans-900Italic.otf");
}

@font-face {
  font-family: MuseoSans-300, sans-serif;
  src: url("fonts/MuseoSans-300.otf");
}

@font-face {
  font-family: MuseoSlab-500Italic, serif;
  src: url("fonts/MuseoSlab-500Italic.otf");
}

@font-face {
  font-family: MuseoSlab-100Italic, serif;
  src: url("fonts/MuseoSlab-100Italic.otf");
}

.section-header {

  background-image: url("../assets/section-header-bg.png");
  background-repeat: no-repeat;
  background-size: auto 100%;

  height: 30px;

  @include display(flex);
  @include align-items(center);

  span {
    font-family: MuseoSans-900Italic, sans-serif;
    font-size: 15px;
    line-height: 15px;
    background-color: white;
    padding: 0 6px;
    margin:auto;
  }

}

$cr-green: #00b233;
$cr-deep-blue: #2e0a75;

button.cr-btn {
  border: none;
  vertical-align: middle;
  background:none;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
    -webkit-box-shadow: none;
  }
}



