#article{
  -webkit-transition:all .3s $ease-in-out-quad;
}

#article.ng-hide-add{
  margin-top: auto;
  opacity: 1;
}

#article.ng-hide-remove{
  margin-top: 5px;
  opacity: 0;
}

/********************/

[ui-view='overhead'] {
  overflow: hidden;
  -webkit-transition:all .5s $ease-in-out-quad;
}

[ui-view='overhead'].ng-enter, [ui-view='overhead'].ng-leave.ng-leave-active{
  height: auto;
  max-height: 0;
}

[ui-view='overhead'].ng-enter.ng-enter-active, [ui-view='overhead'].ng-leave{
  max-height: 200px;
}

/******************/
[ui-view='questions_inline'] {
  max-height: 0;
  overflow: hidden;
}